<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/main.css" />
		<meta charset="utf-8">
		<title>Varg42new</title>
	</head>

	<body>
		<header>
			<hgroup>
				<h1>Varg42</h1>
				
				<hgroup>
					<h1><a href="#">belfast</a></h1>
					<h2>Varg42:s diskussionsforum</h2>
				</hgroup>
			</hgroup>
		</header>
			
			<nav>
				<ul>
					<li>Start</li>
					<li>Profil</li>
					<li>Sök</li>
					<li>Registrera</li>
				</ul>
			</nav>
		
		<div id="container">
			<aside>
				<h2><a href="#">Bidra med ett inlägg!</a></h2>
			
				<h3>Äldre inlägg</h3>
				<ol>
					<li>I går: Dolor sit</li>
					<li>I förrgår: Amet consec</li>
					<li>27 feb: Tetur adipis</li>
					<li>26 feb: Cing elit</li>
				</ol>
			</aside>

			<div id="main">

{% block content %}{% endblock %}
	
			</div>
			
			<h1>Kommentarer</h1>
	
			<article class="post1">
				<header>
					<img src="http://images.yuku.com/image/jpeg/14436d4a403f5b533a9460444866e0af3b5b509f.jpg" alt="" width="65" height="65" />
					<h6>nycz</h6>
				</header>
		
				<p>Nej, men jag tycker egentligen att det faktiskt borde vara så att du inte riktigt kan göra så utan att-</p>
		
				<p>Jag menar, STATISTIK PLOZ :)</p>
			</article>
	
	
	
			<article class="post2">
				<header>
					<img src="http://www.varg42.se/smf/index.php?action=dlattach;attach=837;type=avatar" alt="" width="65" height="65" />
					<h6>~kqr</h6>
				</header>
		
				<p>Aa, fast nee.</p>
			</article>
	
	
	
			<article class="post1">
				<header>
					<img src="http://images.yuku.com/image/jpeg/14436d4a403f5b533a9460444866e0af3b5b509f.jpg" alt="" width="65" height="65" />
					<h6>nycz</h6>
				</header>
		
				<p>MEN DU ÄR JU DUM I HUVUDET</p>
			</article>

		</div>
		
		
		
		
		<footer>
			<small>2010 (c) ~chi1 och ~kqr tills vidare</small>
		</footer>
	</body>
</html>